In [98]:
!ls zippedData | grep csv > csv_list.txt
!ls zippedData | grep tsv > tsv_list.txt
!cat tsv_list.txt

rt.movie_info.tsv.gz
rt.reviews.tsv.gz

In [88]:
with open ('csv_list.txt', 'r') as f:
    csv_list= f.readlines()
    

csv_dict = {}

    
for csv in csv_list:
    key='ZippedData/'+csv.strip()
    df_name=csv.strip()
    df_name=df_name.split('.csv.gz')[0]
    df=pd.read_csv(key, compression='gzip')
    csv_dict[df_name] = df

In [ ]:
with open ('tsv_list.txt', 'r') as f:
    tsv_list= f.readlines()
    

tsv_dict = {}

    
for tsv in tsv_list:
    key='ZippedData/'+tsv.strip()
    df_name=tsv.strip()
    df_name=df_name.split('.tsv.gz')[0]
    df=pd.read_csv(key, compression='gzip', delimiter='\t', encoding='latin-1')
    tsv_dict[df_name] = df

In [201]:
print(csv_dict.keys())
print(tsv_dict.keys())


#csv_dict.get("bom.movie_gross").head() # has key title: values <studio>, gross, year

#csv_dict.get("imdb.name.basics").head() # name of a person and lists of production, profession and title 
#csv_dict.get("imdb.title.principals").head() # similar name.basics, but has explicit category, as well as details for actors

#csv_dict.get("imdb.title.akas").head() # title id and <title for different regions if needed> 
#csv_dict.get("imdb.title.basics").head() # has key title, values: genres, length, year
#csv_dict.get("imdb.title.ratings").head() # # tittle_id, averagerating, numvotes

#csv_dict.get("imdb.title.crew").head() # # LOOKUP TABLE can be joined with name_basics and movie basics 


# csv_dict.get("tmdb.movies").head() # TMDB tittle_id, averagerating, numvotes, list of genres, original lang, populatrity
#csv_dict.get("imdb.title.ratings").head() # #IMDB tittle_id, averagerating, numvotes

#csv_dict.get("tn.movie_budgets").head() # #tn title, date, budget and gross

#tsv_dict.get("rt.reviews")# #reviews probably can joined with rt.movie_info on id

#tsv_dict.get("rt.movie_info")# #reviews probably can joined with rt.movie_info on id

dict_keys(['bom.movie_gross', 'imdb.name.basics', 'imdb.title.akas', 'imdb.title.basics', 'imdb.title.crew', 'imdb.title.principals', 'imdb.title.ratings', 'tmdb.movies', 'tn.movie_budgets'])
dict_keys(['rt.movie_info', 'rt.reviews'])

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
...,...,...,...,...,...,...,...,...
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

   id                                             review rating   fresh  \
0   3  A distinctly gallows take on contemporary fina...    3/5   fresh
1   3  It's an allegory in search of a meaning that n...    NaN  rotten
2   3  ... life lived in a bubble in financial dealin...    NaN   fresh
3   3  Continuing along a line introduced in last yea...    NaN   fresh
4   3             ... a perverse twist on neorealism...     NaN   fresh

           critic  top_critic         publisher               date
0      PJ Nabarro           0   Patrick Nabarro  November 10, 2018
1  Annalee Newitz           0           io9.com       May 23, 2018
2    Sean Axmaker           0  Stream on Demand    January 4, 2018
3   Daniel Kasman           0              MUBI  November 16, 2017
4             NaN           0      Cinema Scope   October 12, 2017

In [11]:
!ls

initial_exploration.ipynb
machine_learning
zippedData

In [9]:
!ls -ltr

total 9
drwxr-xr-x 1 Dima Fisch 197121    0 Mar  7 13:50 zippedData
-rw-r--r-- 1 Dima Fisch 197121  588 Mar  7 14:11 Untitled.ipynb
-rw-r--r-- 1 Dima Fisch 197121 2905 Mar  7 14:21 initial_exploration.ipynb
drwxr-xr-x 1 Dima Fisch 197121    0 Mar  7 14:22 machine_learning