In [1]:
# %run code/add_data.py
import numpy as np
import pandas as pd
import json
import requests
import os

os.system("ls data/zippedData | grep sv > file_list.txt")

import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
%matplotlib inline

In [2]:
with open ('file_list.txt', 'r') as f:
    file_list= f.readlines()
    
csv_dict = {}

for csv in file_list:
    file='data/ZippedData/'+csv.strip()
    df_name=csv.strip()
    if 'csv' in file:
        df_name=df_name.split('.csv.gz')[0]
        df=pd.read_csv(file, compression='gzip')
    elif 'tsv' in file:
        df_name=df_name.split('.tsv.gz')[0]
        df=pd.read_csv(file, compression='gzip', delimiter='\t', encoding='latin-1')
    else: print(file, ": unkown file!")
    csv_dict[df_name] = df

In [3]:
print(csv_dict.keys())

dict_keys(['bom.movie_gross', 'imdb.name.basics', 'imdb.title.akas', 'imdb.title.basics', 'imdb.title.crew', 'imdb.title.principals', 'imdb.title.ratings', 'rt.movie_info', 'rt.reviews', 'tmdb.movies', 'tmdb_genres', 'tmdb_imdb_gross', 'tmdb_imdb_gross_full', 'tmdb_movie_ids', 'tn.movie_budgets'])

In [4]:
csv_dict.get('tmdb_imdb_gross_full')

,Unnamed: 0,id,tconst,title,release_date,revenue,budget,vote_average,popularity,vote_count,runtime,genres
0,0.0,6124,tt0011436,"Peter Voss, Thief of Millions",1921-01-01,0,0,0.0,0.6,0,420,[12]
1,NaN,id,tconst,title,release_date,revenue,budget,vote_average,popularity,vote_count,runtime,genres
2,0.0,25449,NaN,New World Disorder 9: Never Enough,2008-12-08,0,0,6.0,1.4,3,69,[]
3,1.0,2,tt0094675,Ariel,1988-10-21,0,0,6.8,9.654,155,73,"[18, 80, 35]"
4,2.0,5,tt0113101,Four Rooms,1995-12-09,4257354,4000000,5.7,15.698,2123,98,"[80, 35]"
...,...,...,...,...,...,...,...,...,...,...,...,...
330361,85.0,913450,tt0089532,Madre in Japan,NaN,0,0,0.0,0.6,0,0,[]
330362,86.0,913454,NaN,Tonight`s Homework,NaN,0,0,0.0,0.6,0,0,[]
330363,87.0,913456,NaN,REPLICA,2020-07-07,0,0,10.0,0.65,1,5,[878]
330364,88.0,913458,NaN,Journey to the West: Kingdom of Women,2016-09-20,0,0,0.0,0.6,0,77,[]
330365,89.0,913460,NaN,Ja Mualim,1968-03-13,0,0,0.0,0.6,0,0,[18]