In [2]:
import pandas as pd 
import csv

In [13]:
budgets = pd.read_csv('zippedData/tn.movie_budgets.csv.gz', compression = 'gzip')
rt_info.head(1

   id  release_date   movie production_budget domestic_gross worldwide_gross
0   1  Dec 18, 2009  Avatar      $425,000,000   $760,507,625  $2,776,345,279

In [15]:
tmdb_movies = pd.read_csv('zippedData/tmdb.movies.csv.gz', compression = 'gzip', zx)
tmdb_movies.head(1)

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788

In [30]:
!ls zippedData | grep csv > file_list.txt
!cat file_list.txt

bom.movie_gross.csv.gz
imdb.name.basics.csv.gz
imdb.title.akas.csv.gz
imdb.title.basics.csv.gz
imdb.title.crew.csv.gz
imdb.title.principals.csv.gz
imdb.title.ratings.csv.gz
tmdb.movies.csv.gz
tn.movie_budgets.csv.gz

In [31]:
with open ('file_list.txt', 'r') as f:
    csv_list= f.readlines()
file_dict = {}
for csv in csv_list:
    key='ZippedData/'+csv.strip()
    df_name=csv.strip()
    df_name=df_name.split('.csv.gz')[0]
    df=pd.read_csv(key, compression='gzip')
    file_dict[df_name] = df
file_dict.keys

In [53]:
file_dict.keys()
file_dict['tn.movie_budgets'].head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [54]:
file_dict['Bom.movie.gross'].head()

KeyError: 'Bom.movie.gross'

In [52]:
file_dict['tmdb.movies']['vote_count'].mean()

194.22483689708488

In [51]:
file_dict['imdb.title.ratings']['numvotes'].mean()

3523.6621669194105

In [ ]:
rt_reviews = pd.read_csv('zippedData/rt.reviews.tsv.gz',sep = '\t', compression = 'gzip', encoding = 'utf-8' )