In [1]:
import pandas as pd 
import csv 
import matplotlib.pyplot as plt

In [17]:
with open ('file_list.txt', 'r') as f:
    csv_list= f.readlines()
file_dict = {}
for csv in csv_list:
    key='ZippedData/'+csv.strip()
    df_name=csv.strip()
    df_name=df_name.split('.csv.gz')[0]
    df=pd.read_csv(key, compression='gzip')
    file_dict[df_name] = df
file_dict.keys

In [23]:
!ls zippedData | grep csv > file_list.txt
!cat file_list.txt

bom.movie_gross.csv.gz
imdb.name.basics.csv.gz
imdb.title.akas.csv.gz
imdb.title.basics.csv.gz
imdb.title.crew.csv.gz
imdb.title.principals.csv.gz
imdb.title.ratings.csv.gz
tmdb.movies.csv.gz
tn.movie_budgets.csv.gz

In [19]:
tn_budgets = pd.read_csv('zippedData/tn.movie_budgets.csv.gz', compression = 'gzip')
# budgets.info()
tn_budgets.head(1)

   id  release_date   movie production_budget domestic_gross worldwide_gross
0   1  Dec 18, 2009  Avatar      $425,000,000   $760,507,625  $2,776,345,279

In [12]:
tmdb_movies = pd.read_csv('zippedData/tmdb.movies.csv.gz', compression = 'gzip')
tmdb_movies.head(1)

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788

In [20]:
bom_budgets = file_dict['bom.movie_gross']

^^^^^^^^^^^^BUDGETS^^^^^^^^^^^^BUDGETS^^^^^^^^^^^^BUDGETS^^^^^^^^^^^^BUDGETS^^^^^^^^^^^^BUDGETS^^^^^^^^^^^^BUDGETS

ROTTEN TOMATOES CRITIC WORKING --------------------------------------------------------------------------------

In [357]:
# ROTTEN TOMATOES CRITIC RATING FOR MERGING

# rt_reviews = pd.read_csv('zippedData/rt.reviews.tsv.gz',sep = '\t', compression = 'gzip', encoding = 'latin-1' )
# rt_reviews.head()
# rt_reviews_clean.info() #34k non_null
# len(pd.unique(rt_reviews_clean['id'])) #1055 individual id 
# rt_reviews_clean.head(1)
# len(pd.unique(rt_reviews_cleaned['id']))



rt_reviews_cleaned = rt_reviews_clean[['id', 'rating', 'critic']]

rt_reviews_cleaned.head(1)

sorted(rt_reviews_cleaned['rating'].unique())

['0',
 '0.5/10',
 '0.5/4',
 '0.5/5',
 '0/10',
 '0/4',
 '0/5',
 '0/6',
 '1',
 '1-5',
 '1.0',
 '1.0/4',
 '1.0/5',
 '1.5',
 '1.5/10',
 '1.5/4',
 '1.5/5',
 '1.6/5',
 '1.8',
 '1.9/5',
 '1/10',
 '1/2',
 '1/4',
 '1/5',
 '1/6',
 '2',
 '2.0/4',
 '2.0/5',
 '2.1/2',
 '2.2',
 '2.2/5',
 '2.3/10',
 '2.3/4',
 '2.3/5',
 '2.4/5',
 '2.5',
 '2.5/10',
 '2.5/4',
 '2.5/5',
 '2.6/5',
 '2.6/6',
 '2.7',
 '2.7/5',
 '2/10',
 '2/2',
 '2/4',
 '2/5',
 '2/6',
 '3',
 '3 1/2',
 '3.0',
 '3.0/10',
 '3.0/4',
 '3.0/5',
 '3.1',
 '3.1/5',
 '3.2',
 '3.3',
 '3.3/5',
 '3.4',
 '3.5',
 '3.5/10',
 '3.5/4',
 '3.5/5',
 '3.6/5',
 '3.7',
 '3.7/5',
 '3.8/10',
 '3.8/5',
 '3/10',
 '3/2',
 '3/4',
 '3/5',
 '3/6',
 '4',
 '4.0',
 '4.0/10',
 '4.0/4',
 '4.0/5',
 '4.1',
 '4.1/10',
 '4.2',
 '4.2/10',
 '4.2/5',
 '4.3/10',
 '4.3/5',
 '4.4/5',
 '4.5',
 '4.5/10',
 '4.5/5',
 '4.7',
 '4.8',
 '4.9',
 '4.9/10',
 '4/10',
 '4/4',
 '4/5',
 '4/6',
 '5',
 '5.0/10',
 '5.0/5',
 '5.2',
 '5.5/10',
 '5.5/5',
 '5.8',
 '5.8/10',
 '5.9',
 '5.9/10',
 '5/10',
 '5/5',
 '5/6',
 '6',
 '6.0/10',
 '6.2',
 '6.2/10',
 '6.3/10',
 '6.5/10',
 '6.7',
 '6.8/10',
 '6.9/10',
 '6/10',
 '6/8',
 '7',
 '7.0/10',
 '7.1',
 '7.1/10',
 '7.2/10',
 '7.3',
 '7.3/10',
 '7.4',
 '7.4/10',
 '7.5/10',
 '7.6/10',
 '7.7',
 '7.7/10',
 '7.8',
 '7.8/10',
 '7.9',
 '7.9/10',
 '7/10',
 '8',
 '8.0/10',
 '8.1/10',
 '8.2',
 '8.2/10',
 '8.3/10',
 '8.4',
 '8.4/10',
 '8.5',
 '8.5/10',
 '8.6/10',
 '8.7/10',
 '8.8/10',
 '8.9',
 '8.9/10',
 '8/10',
 '9',
 '9.0',
 '9.0/10',
 '9.2',
 '9.2/10',
 '9.5/10',
 '9.6/10',
 '9.7',
 '9.8',
 '9/10',
 'A',
 'A+',
 'A-',
 'B',
 'B+',
 'B-',
 'C',
 'C+',
 'C-',
 'D',
 'D+',
 'D-',
 'F',
 'F+',
 'F-',
 'T']

In [355]:
# ROTTEN TOMATOES DIRECTOR/RUNTIME INFO FOR MERGING

# rt_movie_info = pd.read_csv('zippedData/rt.movie_info.tsv.gz',sep = '\t', compression = 'gzip', encoding = 'latin-1' )
# rt_reviews_info = rt_movie_info[['id', 'director', 'runtime', 'rating']]
# len(pd.unique(rt_movie_info['id'])) #1560 individual id
# rt_movie_info.head(10)
# rt_movie_info.info() #
# rt_reviews_info = rt_movie_info[['id', 'director', 'runtime', 'rating']]

# rt_reviews_info = rt_reviews_info.dropna()
# len(rt_reviews_info)

rt_reviews_info.head(1)

   id          director      runtime rating
0   1  William Friedkin  104 minutes      R

In [351]:
# ROTTEN TOMATOE ID DIRECTOT RUNTIME RATING COMBINED---- READY FOR CLEANING

rt_df = rt_reviews_info.merge(rt_reviews_cleaned, how = 'inner', on = 'id')
# rt_df[100:140]
# len(pd.unique(rt_df['director'])) #938 unique id ---- 781 unique directors
rt_df.head(1)
# rt_df.info()

rt

   id          director      runtime rating_x rating_y      critic
0   3  David Cronenberg  108 minutes        R      3/5  PJ Nabarro

In [366]:
# NORMALIZING RATINGS

def norm_ratings(rating):
    grades = {"A":10,"B":8,"C":6,"D":4,"F":2,"A+":10,"B+":9,"C+":7,"D+":5,\
              "F+":3,"A-":9,"B-":7,"C-":5,"D-":3,"F-":0, '3 1/2': 3.5, 'T': None}
    
    if rating in grades.keys():
        norm=grades[rating]
        return norm
    elif ('/') in rating:
        r = rating.split('/')
        norm = float(r[0])/float(r[1])*10
        return norm
    elif ('-') in rating and len(rating) > 2:
        r = rating.split('-')
        norm = float(r[0])/float(r[1])*10
        return norm
    else:
        norm = float(rating)
        return norm

    
norm_ratings('')
    
# rt_df['critic_rating'] = rt_df['rating_y'].apply(norm_ratings)
# DROPPING SINGLE NONE RATING

# rt_df = rt_df.dropna()
# rt_df.head(1)

1.0

In [167]:
# CLEANING RUNTIME 
def clean_runtime(runtime):
    minutes = runtime.split()[0]
    return int(minutes)

# rt_df['runtime'] = rt_df['runtime'].apply(clean_runtime)

# rt_df.head(1)

In [359]:
# CREATING PERSON NAME ID AND PERSON REAL NAME TRANSLATOR KEY
# MERGING KEY AND RT_DF TO CORRELATE DIRECTOR TO NAME KEY

name_key = file_dict['imdb.name.basics'][['nconst', 'primary_name']]
rt_df = rt_df.merge(name_key, left_on = 'director', right_on = 'primary_name')
rt_df = rt_df.drop(columns = 'primary_name')

# name_key.info()
# rt_df.head(1)

name_key.head()
file_dict['imdb.name.basics'].head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [293]:
# file_dict['imdb.title.crew'].head(1)

In [363]:
# CREATING DIRECTOR ID / MOVIE ID KEY FOR MERGING 

# movie_director_code = file_dict['imdb.title.crew'][['tconst', 'directors']]
# type(movie_director_code['directors'][0]) #str
# movie_director_code['director'] = movie_director_code['directors'].str.split(',')
# movie_director_code.drop(columns = 'directors', inplace = True)
# movie_director_code = movie_director_code.explode('director')
# movie_director_code = movie_director_code.dropna()
# movie_director_code.info()

# movie_director_code.head(1)

movie_director_code.head()

      tconst   director
0  tt0285252  nm0899854
2  tt0462036  nm1940585
3  tt0835418  nm0151540
4  tt0878654  nm0089502
4  tt0878654  nm2291498

In [303]:
# len(file_dict['imdb.title.basics']['runtime_minutes'])#368 unique #146144  total
# file_dict['imdb.title.basics']['runtime_minutes']

146144

In [362]:
# TITLE CODE, TITLE NAME, SECOND TITLE NAME, DIRECTOR CODE, RUNTIME 
# WILL BE MERGING WITH ROTTEN TOMATO CLEANED DATA TO CORRELATE CRITIC RATINGS TO MOVIE TITLES 

# movie_id_names_time = file_dict['imdb.title.basics'][['tconst', 'primary_title', 'original_title', 'runtime_minutes']]
# half_way = movie_id_names_time.merge(movie_director_code, how = 'left', on = 'tconst')
# half_way_clean = half_way.dropna()

# def float_conv(flt):
#     integer = int(flt)
#     return integer

# half_way_clean['runtime_minutes'] = half_way_clean['runtime_minutes'].apply(float_conv)
# type(half_way_clean['runtime_minutes']

# len(half_way_clean['runtime_minutes']) #130k
half_way_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130938 entries, 0 to 169259
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           130938 non-null  object
 1   primary_title    130938 non-null  object
 2   original_title   130938 non-null  object
 3   runtime_minutes  130938 non-null  int64
 4   director         130938 non-null  object
dtypes: int64(1), object(4)
memory usage: 11.0+ MB

In [331]:
len(file_dict['imdb.title.basics']['runtime_minutes'].unique().astype(int))

368

In [321]:
# half_way_clean[['director', 'runtime_minutes']].drop_duplicates() #127k
# (half_way_clean['runtime_minutes'].unique())#91k unique directors 360 unique times 130k total times 
rt_df['runtime'].unique()

# # len(pd.unique(rt_df['nconst']))



# len(rt_df['id'].unique())

# rt_df['runtime'].value_counts()
# half_way_clean['runtime_minutes'][:20]
# (rt_df.groupby(['id']).count()['runtime'].unique())

# (half_way_clean.groupby(['tconst']).count())#['runtime_minutes'].unique())

array([108, 116, 128, 100, 132, 115,  95,  82, 117,  97, 102, 127,  98,
        96, 106, 121, 123, 110,  91, 103, 142,  86,  94,  88, 125, 119,
        93, 196, 153, 155, 154, 126, 136, 140, 124, 107,  99, 113, 101,
        90, 118, 105, 135,  92, 109,  70, 134, 137, 130, 120, 104, 147,
       146, 179,  89, 111, 171, 114,  87, 170,  81, 133, 129,  83, 156,
       145, 150, 138,  84, 174, 184,  75, 122, 148,  85,  80, 358,  67,
        59, 144, 164, 166, 157, 139, 112, 159, 161, 131,  56, 141, 149,
       158])

In [332]:
rt_df.info()
# half_way_clean.groupby(['director', 'runtime_minutes'], as_index = False).count()[['director', 'runtime_minutes']]
# len(half_way_clean[['director', 'runtime_minutes']].drop_duplicates())
# pd.unique(rt_df['runtime', 'nconst']
# rt_df[['runtime', 'nconst']].drop_duplicates()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29275 entries, 0 to 29274
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        29275 non-null  int64
 1   director  29275 non-null  object
 2   runtime   29275 non-null  int64
 3   rating    29275 non-null  float64
 4   nconst    29275 non-null  object
dtypes: float64(1), int64(2), object(2)
memory usage: 1.3+ MB

In [335]:
# test = rt_df.merge(half_way_clean, left_on = ['runtime', 'nconst'], right_on = ['runtime_minutes', 'director'])
# test.head()
test.info()
# len(pd.unique(test['director_y']))
# test[['director', 'runtime_minutes']].drop_duplicates()

# test.loc[90:1300]

test.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6346 entries, 0 to 6345
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               6346 non-null   int64
 1   director_x       6346 non-null   object
 2   runtime          6346 non-null   int64
 3   rating           6346 non-null   float64
 4   nconst           6346 non-null   object
 5   tconst           6346 non-null   object
 6   primary_title    6346 non-null   object
 7   original_title   6346 non-null   object
 8   runtime_minutes  6346 non-null   int64
 9   director_y       6346 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 545.4+ KB

,id,director_x,runtime,rating,nconst,tconst,primary_title,original_title,runtime_minutes,director_y
0,14,Taylor Hackford,117,4.0,nm0000431,tt1125929,Love Ranch,Love Ranch,117,nm0000431
1,14,Taylor Hackford,117,5.0,nm0000431,tt1125929,Love Ranch,Love Ranch,117,nm0000431
2,14,Taylor Hackford,117,5.0,nm0000431,tt1125929,Love Ranch,Love Ranch,117,nm0000431
3,14,Taylor Hackford,117,5.0,nm0000431,tt1125929,Love Ranch,Love Ranch,117,nm0000431
4,14,Taylor Hackford,117,5.0,nm0000431,tt1125929,Love Ranch,Love Ranch,117,nm0000431

In [ ]:
MERGING MOVIE KEYS 

rt_df = rt_df.merge(name_key, left_on = 'director', right_on = 'primary_name')